* {box-sizing: border-box}

html,
body {
/*  background: #4A484C !important; */
  background: #FFFFFF !important;
  padding:0;
  margin:0;
  height: 100vh;
  /*overflow-y:hidden*/
}

#body-container{
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px;
  position: relative;
}
.sub_iframe{
  width: 100% !important;
}
.sub_object,
.sub_row,
.sub_page{
  width: 100% !important;
  max-width: 100% !important;
}
.sub_iframe,
.sub_object,
.sub_row{
  height: 82vh !important;
}
.sub_page{
  height: 85vh !important;
}
.apl_footer{
  height: 40px;
  min-height: 40px;
  background-color: #4a484c;
  border-top: 3px #7e7e7c solid;
  color: #fff;
  font-size: 14px;
  margin-bottom: -40px;
}

.tab_side{
  /*max-width: 100%*/
  margin-left: 30px;
  padding-left: 3px;
  border-style: dashed;
  border-color: black;
  border-width: 0.5px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  /*border-left: 10px;*/

}

.btn-info{
  background-color: #005EB8!important; 
  width: 70%; max-height: 34px
}


.tab_top{
  font-family: 'Myriad Pro Light';
  border: 10px;
  text-align: center;
}
.tab_subtitle{
  font-family: 'Myriad Pro Semibold';
  text-align: center;
}
iframe{
  border:0px;
}

.content_container{
    border: 12px;
    position: relative;
    padding-top: 10px;
    /*border: 12px solid #9cb9fb;*/
    margin:0px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    overflow: auto;
    overflow-x: auto;
    max-height: 100vh;
}
/* Style the tab */
.tab {
  /*float: left;*/
/*  background-color:  #EAEAEA;*/
  background-color: #FFFFFF;
  max-width: 100%;
  overflow: auto;
/*  max-height: 90vh; */
}
.selection {
  /*float:left;*/
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right:0px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  /*padding-left: 12px;*/
  display:inline-block;
}
.btn-selection {
  float:left;
  width: 100%;
  display:flex;
}






#selected{
  background-color: #9cb9fb
}
#myInput text{
  font-color: white;
  fill: white;
}

#MinKNOWContainer{
  width: 90%;

}
#MinKNOWContainer img{
  max-width:100%;
  max-height: 100%
}


input{
  padding-bottom: 15px;
}

#default_loc{
 color:#3a8a9e;
}
.footer {
	height: 50px;
}
.footernav {
	.note;
	.text-dark-gray;
	text-align: center;
	margin-right: 2px;
}
.footer_space{
  height: 100px;
}

.hugespacer {
    height: 50px;
}

.bigspacer {
    height: 20px;
}

.spacer {
    height: 10px;
}

.smallspacer {
    height: 5px;
}
/*Define custom coding for the bootstrap buttons*/
.btn-info {
  border-radius: 0 !important;
  background:none;
  width: 100% !important;
  background: #4A484C !important;
  border: #4A484C !important;
}
.custom-btn{
  background: #188bb6 !important;
  white-space:normal !important;
}
.custom-btn.text{
  color: #9ca85d !important;
}
/* Change background color of buttons on hover */
.custom-btn:hover {
  background-color: #ccc !important;
}
/* Change background color of buttons on hover */
.btn-info:hover {
  background-color: #ccc !important;
}

/* Create an active/current "tab button" class */
.btn-info.active {
  background-color: #ccc !important;
}
.btn-info-cancel.active {
  background-color: #c29417 !important;
}
/*
Add light features to each step */
.dot {
  height: 100%;
  width: 5%;
  background:blue;
  background-color: darkgray;
  display:flex;
  position:relative;
}

/*Global styling changes*/
/*
.container-fluid {
  background: #4A484C !important;
}
body{
  background: #4A484C !important;
}
*/
#header{
  background: #d1ccbc;
  overflow:hidden;
}
.nopadcolumn{
  padding:0px !important;
  margin-right:0px !important;
}

#consensus_table{
  max-height:40px !important;
  width: 100% !important;
  overflow-y: auto !important;
}
#consensus_table p{
  color: black;
  font-family: 'Myriad Pro Light';
  text-align: center;
}
#consensus_table div{
  max-width: 100% !important;
  max-height: 100px;
  overflow-y:auto;
  overflow-x: hidden;
  text-align:center;
}
#consensus_table tr{
  max-height: 10px;
}
#consensus_table td{
  max-width:100px !important;
  max-height:100px;
  overflow-y:auto;
  overflow-x: auto;
  text-align:center;
}
.mutations_div{
  max-height: 100%;
  max-width:100%;
}
