<link href="../css/style.css" rel="stylesheet" type="text/css"/>
<link href="../css/style_ws.css" rel="stylesheet" type="text/css"/>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/bootstrap-grid.css" rel="stylesheet" />
<link href="../css/bootstrap-reboot.css" rel="stylesheet" />
<link href="../css/style_ws.css" rel="stylesheet"/>
<script src="../tabs/mytax-pie/js/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 <div class="content_container">
  <div class="row">
    <div class="col-md-12" id="header">
     <h1 class="tab_top">
      Oxford Nanopore Training 
     </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div style="display:flex; margin:auto; padding-bottom: 0px; margin-bottom: 0px">
        <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#MinKNOW-images" role="button" aria-expanded="false" aria-controls="MinKNOW-images">
          MinKNOW Software Images
        </button>
        <p>
      <div>
      <div class="collapse" id="MinKNOW-images"> 
        <span style="color:white">
          First, open MinKNOW Software..
        </span>
        <span style="color:white">
          .. then create your experiment.</br>
          Example of how this should look is below:
        </span>
        <div id = "MinKNOWContainer">
          <img src=../img/minionh.png>
          <img src=../img/addexp.png>
          <img src=../img/basecalling.png>
          <img src=../img/out.png>
          <img src=../img/run.png>
          <img src=../img/final1.png>
          <img src=../img/final2.png>
          <img src=../img/final3.png>
          <img src=../img/final4.png>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top:0px; padding-top:0px !important">
  <div class="row">
      <div id="start_backgroundreading" class="collapse in">
        <div class="tab">
          <div class="tab_side">
            <div style="display:none;">
              <h1 id="background-reading">
               Background Reading
              </h1>
            </div>
              <h2 id="genomic-surveillance">
               <em>
                Genomic Surveillance
               </em>
              </h2>
              <p>
               The Rise of a Digital Immune-System
               <a href="https://paperpile.com/c/BllhjB/aFit">
                <em>
                 (Schatz and Phillippy 2012)
                </em>
               </a>
              </p>
              <p>
               Towards a genomics-informed, real-time, global pathogen surveillance system
               <a href="https://paperpile.com/c/BllhjB/giwB">
                <em>
                 (Gardy and Loman 2018)
                </em>
               </a>
              </p>
              <p>
               Pandemics: spend on surveillance, not prediction
               <a href="https://paperpile.com/c/BllhjB/P4IV">
                <em>
                 (Holmes et al. 2018)
                </em>
               </a>
              </p>
              <p>
               Tracking Outbreaks in the Twenty-First Century
               <a href="https://paperpile.com/c/BllhjB/kRRC">
                <em>
                 (Grubaugh et al. 2019)
                </em>
               </a>
              </p>
              <h2 id="molecular-epidemiology">
               <em>
                Molecular Epidemiology
               </em>
              </h2>
              <p>
               Using genomics data to reconstruct transmission trees during disease outbreaks
               <a href="https://paperpile.com/c/BllhjB/Shl8">
                <em>
                 (Hall et al. 2016)
                </em>
               </a>
              </p>
              <p>
               Real-time, portable genome sequencing for Ebola surveillance
               <a href="https://paperpile.com/c/BllhjB/mUie">
                <em>
                 (Quick et al. 2016)
                </em>
               </a>
              </p>
              <p>
               BEAST documentation:
               <a href="http://beast.community/">
                <em>
                 http://beast.community/
                </em>
               </a>
              </p>
              <p>
               Genomic, epidemiological and digital surveillance of Chikungunya virus in the Brazilian Amazon. Naveca FG et al. PLoS Negl Trop Dis. 2019 Mar 7;13(3):e0007065. doi: 10.1371/journal.pntd.0007065. eCollection 2019 Mar.
              </p>
              <p>
               Multiplex PCR method for MinION and Illumina sequencing of Zika and other virus genomes directly from clinical samples. (Quick J, et al.) Nat Protoc. 2017 Jun;12(6):1261-1276. doi: 10.1038/nprot.2017.066. Epub 2017 May 24
              </p>
              <p>
               Rapid draft sequencing and real-time nanopore sequencing in a hospital outbreak of Salmonella.(Quick J. et al.) Genome Biol. 2015 May 30;16:114. Doi: 10.1186/s13059-015-0677-2.
              </p>
              <h2 id="sequencing-technology">
               <em>
                Sequencing Technology
               </em>
              </h2>
              <p>
               The Oxford Nanopore MinION: delivery of nanopore sequencing to the genomics community
               <a href="https://paperpile.com/c/BllhjB/U7By">
                <em>
                 (Jain et al. 2016)
                </em>
               </a>
              </p>
              <p>
               Nanopore sequencing and assembly of a human genome with ultra-long reads
               <a href="https://paperpile.com/c/BllhjB/9S1v">
                <em>
                 (Jain et al. 2018)
                </em>
               </a>
              </p>
              <h2 id="related-resources">
             <em>
              Related Resources
             </em>
            </h2>
            <p>
             <a href="https://nextstrain.org/">
              <em>
               https://nextstrain.org/
              </em>
             </a>
            </p>
            <p>
             <a href="http://artic.network/">
              <em>
               http://artic.network/
              </em>
             </a>
            </p>
            <p>
             <a href="http://porecamp.github.io/">
              <em>
               http://porecamp.github.io/
              </em>
             </a>
            </p>
            <p>
             Command-line bootcamp:
            </p>
            <p>
             <a href="http://rik.smith-unna.com/command_line_bootcamp/?id=9xnbkx6eaof">
              <em>
               http://rik.smith-unna.com/command_line_bootcamp/?id=9xnbkx6eaof
              </em>
             </a>
            </p>
            <hr>
          </div>
        </div> <!-- end button div -->
      </div> <!-- end row selection -->
  </div>
</div> <!-- end content_container --> 