body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 20px;
    line-height: 1.6;
    color: #333333;
}
#legend_wrapper{
	overflow-y: auto;
	height: 700px;
}
.slice {
	cursor: pointer;
}

.slice .main-arc {
	stroke: #fff;
	stroke-width: 1px;
}

.slice .hidden-arc {
	fill: none;
}

.slice text {
	pointer-events: none;
	dominant-baseline: middle;
	text-anchor: middle;
}

.dropdown-item {
	cursor: pointer;
}
.dropdown-item:hover {
	background-color: #ddd;
}

/*
	Add ellipsis to middle of text
	from: http://stackoverflow.com/a/36470401
	This solution works perfectly as long as
	there is no punctuation, in which case it
	changes the order of the text
*/
/*
.wrap-text::before, .wrap-text::after {
	display: inline-block;
	max-width: 50%;
	overflow: hidden;
	white-space: pre;
}
.wrap-text::before {
	content: attr(data-content-start);
	text-overflow: ellipsis;
}
.wrap-text::after {
	content: attr(data-content-end);
	text-overflow: clip;
	direction: rtl;
}
*/

/* Prevent long items from increasing size of text box */
/* From: http://www.benknowscode.com/2013/12/bootstrap-dropdown-button-select-box-control.html */
.btn-input {
	display: block;
	width: 100%;
}

.btn-input .btn.form-control {
	text-align: left;
}

.btn-input .wrap-text.form-control {
/*	left: 10px; */
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
/*	right: 25px; */
}

h1, .h1 { font-size: floor(@font-size-base * 2.50); } /* ~34px */
h2, .h2 { font-size: floor(@font-size-base * 2.15); } /* ~30px */
h3, .h3 { font-size: ceil(@font-size-base * 1.70); }  /* ~24px */
h4, .h4 { font-size: ceil(@font-size-base * 1.25); }  /* ~18px */
h5, .h5 { font-size:  @font-size-base; }
h6, .h6 { font-size: ceil(@font-size-base * 0.85); }  /* ~12px */

// 20px gutter
.reduced-gutter.row {
  margin-right: -10px;
  margin-left: -10px;
}
.reduced-gutter {
  padding-right: 10px;
  padding-left: 10px;
}

/* typekit */

.wf-loading {
    visibility: hidden;
}
.wf-active {
	visibility: visible;
}

/* general */

.container {
  padding-left: 25px;
  padding-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	/* Museo */
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.text-center {
     text-align: center;
}

/* logo */

.logo {
	width: 60px;
	height: 60px;
	padding: 5px;
}

.biglogo {
	width: 170px;
	height: 170px;
	padding: 5px;
}

.logobox {
	height: 170px;
	display: table-cell;
	vertical-align: middle;
}

/* navbar */

.navbar-brand {
	font-size: 30px;
	font-weight: 100;
	/* Museo */
}
.navbar-nav {
	font-size: 30px;
	font-weight: 100;
	/* Museo */
}
.navbar-text {
	font-size: 15px;
	font-weight: 300;
	/* Museo */
}

/* headings */

.bigtitle {
	font-size: 60px;
	line-height: 55px;
	font-weight: 100;
	/* Museo */
}

.title {
	font-size: 36px;
	line-height: 40px;
	font-weight: 100;
	/* Museo */
}

.bighead {
	font-size: 32px;
	font-weight: 300;
	line-height:36px;
	/* Museo */
}

.head {
	font-size: 24px;
	font-weight: 300;
	line-height:30px;
	/* Museo */
}

.smallhead {
	font-size: 19px;
	font-weight: 300;
	line-height: 23px;
	/* Museo */
}

.note {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	/* Museo */
}

.smallnote {
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	/* Museo */
}

.text-gray {
	color: @gray-light;
}

.text-dark-gray {
	color: @gray;
}

/* other */

body {
	font-weight: 300;
}

p {
	font-weight: 300;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

a.off {
	color: inherit;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

table {
	.table;
	.table-striped;
}

img {
	.img-responsive;
}

img.offset {
	float: right;
	margin: 12px 0px 10px 15px;
}

img.avatar {
	width: 20px;
}

.post img {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

blockquote {
	.text-gray;
	p {
    font-size: (@font-size-base * 1.00);
    }
}

.breadcrumb {
	padding: 0px 0px;
	background-color: @body-bg;
	> li {
		&+li:before {
			padding: 0px;
			content: "\00a0@{breadcrumb-separator}\00a0";
		}
		&+li:after {
			padding: 0px;
		}
	}
}

.feedbox {
    height: 320px;
    overflow: hidden;
	-webkit-mask-image: -webkit-gradient(linear, left 85%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
/*	-webkit-box-shadow: inset 0 -30px 10px -10px white; */
/*	   -moz-box-shadow: inset 0 -30px 10px -10px white; */
/*	        box-shadow: inset 0 -30px 10px -10px white; */
}

.postbox {
	min-height: 80px;
}

.paperbox {
	min-height: 140px;
}

.projectbox {
	min-height: 120px;
}

.memberbox {

}

.talkbox {
	min-height: 100px;
}

.titlebox {
	min-width: 300px;
}

.handlebox {
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}

.pad-right {
	padding-right: 10px;
}

.pad-left {
	padding-left: 10px;
}

#footer {
	height: 80px;
}

.footernav {
	.note;
	.text-dark-gray;
	text-align: center;
	margin-right: 2px;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

/* Infinite scroll */

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}
label{
	font-weight: 300;
}